#- обычный комментарий на одну строку

#обычный вывод на экран
print("")
#задание переменной
some = ("phone")
#int это целое число
nine = 9
#float это дробное число
money = 22.5
#str это строка (участник тайпкастинга)
myname =("Alexander")
#bool (два значения)
status = False
"""масштабный
 комментарий"""
#пример тайпкастинга (#float->>>#str)
print("Привет, у меня"+str(money)+"!")
#для кавычек в тексте при выводе
print('Наша компания "Аквамарин"')
# второй вариант
print("Наша компания \"Аквамарин\"")
#перенос на строку отдельной части текста
print("Текст на первой строке \nтекст на второй строке")
#символ для большого пробела(пробел складывается)
print("Сейчас будет большой пробел \t текст продолжается")
#(текст с несколькими переменными)
name = "Александр"
weather = "Солнечно"
money = 12415.2
print("Привет, меня зовут "+name)
print("На улице "+weather +",а у меня в кармане "+str(money)+"$")
#f-строки(оптимизированный вариант с несколькими переменными)P.S. АВТОТАЙПКАСТИНГ
print(f"Привет,{name}, у тебя в кармане {money}$")
#input
weight = input("Введите ваш вес:")
print(f"Ваше вес: {weight}")
#import

import random
print(random.randint(121, 12121))
#математические операции +, -, *, /, //, **, %, унарный минус, округлени, Пи
print(5+5)
a=11
b=1321
#округление(до ближайшего четного числа)P.S. FLOOR- В МЕНЬШУЮ, CEIL- В БОЛЬШУЮ
x=4.5
print(round(x))
import math
x=26316.1
print(math.pi)

#sep=(добавляется в конце скобок для редактирования пространства между символами)
print("Результат: ", 5, 7 sep=""))
min() минимальное
max() максимальное
abs() модуль
pow(5, 6) степень

